*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Do not commit plain-text release keys
/release/dailyscoop-keystore.jks

# Generated report in fastlane directory
/fastlane/report.xml

# Ignore Gemfile.lock
Gemfile.lock
