*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore tracking pre-commit hook as it should only stay locally.
/buildscripts/pre-commit.sh

# Do not commit plain-text release keys
/release/dailyscoop-keystore.jks
